{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "semi": 2,
    "space-after-keywords": 2,
    "space-before-function-paren": 2
  }
}
