{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "globals": {
    "describe" : false,
    "it": false,
    "expect": false,
    "before" : false,
    "beforeEach" : false,
    "after" : false,
    "afterEach" : false,
    "injectr": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "guard-for-in": 0,
    "no-unused-vars": [2, {"args": "after-used", "varsIgnorePattern": "^React"}],
  }
}
